.block {
  margin-top: 1rem;
}

.inline {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.inputGroup {
  margin-bottom: 1rem;
}

.input {
  flex: 1;
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-sizing: border-box;
}

.verifyButton {
  padding: 0.6rem 1rem;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verifyButton:hover {
  background-color: var(--main-color);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0;
}

.input:disabled,
.verifyButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
  color: #888;
}
