.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f7fa; /* 전체 배경 */
}

.body {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
