.Login_body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.Login_box {
    width: 350px;
    height: 450px;
    border: 0.5px solid #7D7D7D;
    border-radius: 10px;
}

.Login_id {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 50%;
    margin-bottom: 4px;
    font-size: small;
    font-weight: bold;

}
.id_input {
    flex: 1;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-left: 15px;
    margin-top: 5px;
    border: 0.5px solid #7D7D7D;
    border-radius: 4px;
    font-size: x-small;
    cursor: pointer;
}

.Login_password {
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: small;
    font-weight: bold;
}
.password_input {
    flex: 1;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-left: 15px;
    margin-top: 5px;
    border: 0.5px solid #7D7D7D;
    border-radius: 4px;
    font-size: x-small;
    cursor: pointer;
}

.id_input:focus,
.password_input:focus {
  outline: none;
  border: 2px solid #5AB2FF;
}

.Login_button {
    flex: 1;
    width: 100%;
    max-width: 320px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 15px;
    border: 1px solid #5AB2FF;
    background-color: #5AB2FF;
    border-radius: 4px;
    font-size: small;
    color: white;
    font-size: x-small;
    cursor: pointer;
}

.Login_find {
    margin-top: 30px;
    margin-left: 14%;
    background-color: white;
    color: #7D7D7D;
    border: none;
    font-size: x-small;
    cursor: pointer;
}
.Login_google {
    margin-top: 30px;
    background-color: white;
    color: #7D7D7D;
    border: none;
    font-size: x-small;
    cursor: pointer;
}
.Login_kakao {
    margin-top: 30px;
    background-color: white;
    color: #7D7D7D;
    border: none;
    font-size: x-small;
    cursor: pointer;
}
.Login_signup {
    background-color: white;
    color: #5AB2FF;
    border: none;
    font-size: x-small;
    cursor: pointer;
}