.container {
  display: flex;
  padding: 2rem;
  justify-content: center;
  gap: 4rem;
}

.profileSection {
  text-align: center;
}

.formSection {
  max-width: 400px;
  width: 100%;
}

.email {
  margin-top: 0;
  font-weight: bold;
  font-size: 2rem;
  color: var(--subText-color);
}
.input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.resetButton,
.saveButton,
.deleteButton {
  padding: 0.8rem 2.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;

  background-color: var(--button-color);
}

.resetButton:hover {
  background-color: var(--subText-color);
  color: white;
}

.saveButton {
  background-color: #78b5f5;
  color: white;
}

.saveButton:hover {
  background-color: var(--main-color);
}

.deleteButton {
  background-color: #ffb3b3;
  color: white;
}

.deleteButton:hover {
  background-color: var(--error-color);
}
